<div class="jumbotron">
    <h1><span class="badge bg-secondary">Scholl Developer</span></h1>
    <br>
    <h2 class="display-4">Bem Vindo a Scholl Developer!</h2>
    <p class="lead">Ensinando a desenvolver.</p>
    <hr class="my-4">
    <h3>
        <p>A porta de entrada‍ para sua carreira em tecnologia</p>
    </h3>
    <br>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span><br>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span><br>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span>
    <span class="badge bg-primary">.</span>
    <span class="badge bg-secondary">.</span>
    <span class="badge bg-success">.</span>
    <span class="badge bg-danger">.</span>
    <span class="badge bg-warning text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-info text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-light text-dark">.</span>
    <span class="badge bg-dark">.</span><br>


</div>